<div class="container-fluid row m-0 p-0">
  <h2 class="text-center d-block text-wrap my-2"> IOT Based Vehicle Emission Monitoring System</h2>

  <div class="col-md-6 col-lg-6 col-sm-12">
    <%= image_tag "vehicle_img.jpg", style: "width: 100%; height: 80vh" %>
  </div>
  <div class="col-md-6 col-lg-6 col-sm--12">
    <h3 class=" mt-2">Abstract</h3>
    <p class="text-wrap text-justify fs-6" style="text-indent: 10px">
      The IoT-based Vehicle Emission Monitoring System offers an innovative solution to address pressing environmental issues while promoting sustainable transportation practices.
      This system seamlessly integrates a network of advanced sensors, cutting-edge communication technology, and robust cloud computing infrastructure, creating a dynamic ecosystem that continuously monitors and analyses vehicle emissions in real-time. By gathering and processing data on various pollutants, including CO2, NOx, and particulate matter, it not only empowers environmental authorities and regulators but also informs the general public.
      This comprehensive system enables data-driven decision-making, supporting efforts to proactively manage air quality, enforce emissions control regulations, and guide urban planning strategies towards a more sustainable and environmentally responsible future.
      The system's versatile capabilities highlight its potential to significantly reduce the adverse environmental impact of vehicular emissions and enhance the overall quality of life in urban areas.
    </p>
    <h3 class="mt-2"> Problem Statement</h3>
    <p class=" text-wrap text-justify fs-6"  style="text-indent: 10px">
      The problem is to design and implement an IoT Vehicle Emission Monitoring System that can accurately measure, monitor, and report vehicle emissions in real-time. This system aims to provide valuable data for environmental agencies, government bodies, and researchers to make informed decisions and take actions to reduce vehicle emissions.
    </p>
  </div>
</div>